pandas
numpy
scikit-learn
python-dotenv
pytest
typer
rich
sqlalchemy
pydantic
vaderSentiment
requests
fastapi
uvicorn
jinja2
python-multipart
httpx
ccxt
playwright
pyee
greenlet
typing-extensions
typing-inspection
tzdata
urllib3
python-dateutil
scipy
joblib
threadpoolctl
colorama
iniconfig
packaging
pluggy
pygments
click
shellingham
annotated-doc
markdown-it-py
annotated-types
pydantic-core
charset_normalizer
idna
certifi
starlette
h11
MarkupSafe
anyio
httpcore
setuptools
cryptography
aiohttp
aiodns
yarl
pycares
cffi
aiohappyeyeballs
aiosignal
attrs
frozenlist
multidict
propcache
pycparser
mdurl
six
